{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h1 style="font-size:50px;margin-top:40px;margin-left:20px;">{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls:vote' question.id %}" method = "post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
  <input style="margin-left:40px;" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
  <label for="choice{{ forloop.counter }}" style="font-size:35px;">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote" style="margin-top:20px;width:10%;font-size:20px;margin-left:30px;">
</form>
